.cabecalho {
  background-color: #f39c1a;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0;
}

.cabecalho-imagem{
  width: 10%;
}

.cabecalho-lista-item{
  display:  inline-block;
  margin: 0 16px;
  font-size: 16px;
}

.escola-imagem-1{
  width: 30%;
}

.escola-imagem-2{
  width: 30%;
}

.escola{
  background-image: linear-gradient( #f39c1a, #411500);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.escola-div-conteudo{
  width: 35%;
}

.escola-div-conteudo-1{
  width: 35%;
}

.escola-div-conteudo-2{
  width: 35%;
}